<a href="https://colab.research.google.com/github/NM1729/Aerosol-Index-Analysis/blob/main/Aerosol_Index_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [78]:
cd /content/drive/My Drive/'gee economics'/Economics/'Weekly '/clean_csv

/content/drive/.shortcut-targets-by-id/1Bz9b6FjScWepkSNBbJ6OIsHLgnxS3dcK/Economics/Weekly /clean_csv

In [79]:
ls

ahmadabad_weekly.csv     chennai_weekly.csv            jaipur_weekly.csv
bangalore_weekly.csv     delhi_weekly_cleaned_NMS.csv  kolkata_weekly.csv
bangalore_weekly.gsheet  delhi_weekly.csv              mumbai_weekly.csv
bhopal_weekly.csv        hyderabad_weekly.csv          pune_weekly.csv

In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [82]:
import os
dic = {}
for filename in os.listdir(os.getcwd()):
    if filename[-4:] == '.csv':
        name = filename[:-4]
        dic[name] = pd.read_csv(filename)
        if(len(dic[name].columns) == 4):
            dic[name].drop(columns="Unnamed: 0",inplace=True)
        dic[name].columns = ['ward_no','date','mean']
print(dic['delhi_weekly'])

      ward_no        date      mean
0         150  2018-07-10 -0.417784
1         176  2018-07-10 -0.491721
2         129  2018-07-10 -0.396762
3         173  2018-07-10 -0.438226
4         140  2018-07-10 -0.220974
...       ...         ...       ...
34097      35  2020-10-06 -0.615338
34098     219  2020-10-06 -0.619774
34099      26  2020-10-06 -0.731513
34100     187  2020-10-06 -0.737521
34101     115  2020-10-06 -0.622233

[34102 rows x 3 columns]

In [ ]:
clean = []
for city in dic:
    if city == "delhi_weekly_cleaned_NMS":
        continue
    clean.append(dic[city])

In [100]:
groups = []
for city in clean:
    group = city.groupby('date').agg(np.mean)
    groups.append(group)

In [105]:
print(groups[0])

            ward_no      mean
date
2018-07-10     99.5 -0.896302
2018-07-17     99.5 -0.222558
2018-07-24     99.5 -0.378929
2018-07-31     99.5 -0.000837
2018-08-07     99.5 -0.537708
...             ...       ...
2020-09-08     99.5 -1.450213
2020-09-15     99.5 -1.490252
2020-09-22     99.5 -1.380333
2020-09-29     99.5 -1.359563
2020-10-06     99.5 -1.431618

[118 rows x 2 columns]